<div class="modal" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">You are about to book <%= @room.name %> room from <%= @request.start_date.strftime("%d/%m/%Y") %> to <%= @request.end_date.strftime("%d/%m/%Y") %>  </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

         <!--  <%#= form_tag do %>
            <ul>
              <%# @room.services.each do |service| %>
                <li class="quantity">
                  <%#= service.name %>
                  <%#= number_field(:service_id, :quantity) %>
                </li>
              <%# end %>
            </ul>
            <%#= submit_tag("confirm") %>
          <%# end %> -->
        <p>Would you like to add these services?</p>
          <%= simple_form_for (@request) do |f| %>

            <%= f.association :room, as: :hidden %>
            <%= f.input :start_date, as: :hidden %>
            <%= f.input :end_date, as: :hidden %>

              <% @request.room.services.each do |service| %>
                <%= check_box_tag  "request[service_ids][]", service.id %>
                <%= service.name %><br>
              <% end %>
        </div>
        <div class="price">Total: <%= @price %>€</div>
        <div><%= @params %></div>
        <div><%= @start_date %></div>
        <div><%= @end_date %></div>
        <div><%= @length %></div>

        <div class="modal-footer">
          <%= f.submit "Confirm!", class: "btn btn-primary confirm", id: "save" %>
          <% end %>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
