<h1>This is where you'll apply for a workstation</h1>
<%= simple_form_for (@request) do |f| %>
  <%= f.input :first_name, label: 'First name' %>
  <%= f.input :last_name, label: 'Last name' %>
  <%= f.input :email, label: 'email' %>
  <%= f.input :phone_number, label: 'phone number'%>
  <%= f.input :about, label: 'Tell us about you' %>
  <%= f.submit "Request a workstation!" %>
<% end %>
