<div class="banner">
  <div class= "offer">
    <h1>Are you an independent worker?</h1>
    <h2>Looking for a great office?</h2>
  <% if !user_signed_in? %>
    <%= link_to "Sign-up!",  new_user_registration_path, class: "btn btn-primary btn-lg"  %>
    <%= link_to "Sign-in!",  new_user_session_path, class: "btn btn-primary btn-lg"  %>
    <% else %>
    <%= link_to "Request a room!",  new_request_path, class: "btn btn-primary btn-lg"  %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "btn btn-primary btn-lg"  %>
  <% end %>

  <%= link_to "Our rooms",  rooms_path, class: "btn btn-primary btn-lg"  %>
  </div>
</div>
